:root{
    --light: #fffcf2;
    --gray: #ccc5b9;
    --darkgray: #403d39;
    --dark: #252422;
    --orange: #eb5e28;
}

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
}
body{
    background: black;
}
a{
    text-decoration: none;
}

.container{
    width: 100%;
    min-height: 100vh;
    background-color: var(--light);
    animation: containerFadeIn 1.5s ease-out;
    margin-bottom: 50px;
}

/* Navbar Mobile start */
.navbar{
    z-index: 3;
    position: fixed;
    bottom:0;
    left:0;
    width:100%;
    height: 50px;
    background-color: var(--gray);
    display: grid;
    grid-template-columns: 1fr 1fr 1.5fr 1fr 1fr;
    animation: MnavIn 0.5s ease-out 1s forwards;
    transform: translateY(100%);
    box-shadow: 0px -5px 10px rgba(0, 0, 0, 0.479);
}

.navbar__item--text{
    display:none;
}
.navbar__item{
    display: flex;
    align-items: center;
    justify-content: center;
}

.home{
    background-color: var(--darkgray);
    border-radius: 5px;
}

.navbar a{
    text-align: center;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: var(--dark);
    font-size: 1.2em;
}
.navbar__item img{
    width:30%;
}

/* Navbar Mobile End */



/* Header Mobile Start */

.header{
    width:100%;
    height: 100vh;
    background: var(--dark);
    overflow: hidden;
    position: relative;
}
.header__video{
    display: none;
}

.header img{
    position: absolute;
    left:-50%;
    height: 100vh;
    filter: blur(5px);
    
}

.header__block{
    width:100%;
    height: 300px;
    background: #ccc5b938;
    position: absolute;
    top:50%;
    transform: translateY(-50%) scaleY(0);
    padding:20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    animation: MheaderBlockIn 0.5s ease-out .5s forwards;
    transform-origin: center center;
}

.header__block--name{
    font-size:3.5em;
    color:var(--light);
    text-shadow: 0 5px 10px rgba(0, 0, 0, 0.384);
    opacity: 0;
    animation: MheaderNameIn 0.5s ease-out 1s forwards;
}

.header__block--desc{
    font-family: Consolas;
    color:var(--light);
    font-size: 1.3rem;
    text-shadow: 0 5px 10px rgba(0, 0, 0, 0.384);
    animation: MheaderDescIn 0.5s ease-out 1s forwards;
    opacity: 0;
}

.header__block--desc::before{
    content: "<";
    font-size:1.5em;
    margin-right: -5px;
}
.header__block--desc::after{
    content: "/>";
    font-size:1.5em;
}

.header__block__icons{
    margin-top:20px;
    font-size:3em;
    animation: MheaderDescIn 0.5s ease-out 1s forwards;
    opacity: 0;
    width:70%;
    display: flex;
    justify-content: space-around;
}

.header__block__icons a{
    color:var(--light);
    text-shadow: 0 5px 10px rgba(0, 0, 0, 0.384);
}

.header__block--arrow{
    display: none;
    z-index: 2;
}

/* Header Mobile End */

/* About Mobile Start */

.about{
    min-height: 100vh;
    width:100%;
    background: var(--gray);
    display:grid;
    grid-template-rows: 70px 1fr 2fr;
    grid-template-areas: 
    "header"
    "photo"
    "text";
    align-items: center;
    padding:20px;
    overflow: hidden;
}

.about__header{
    grid-area: header;
    position: relative;
    height: 50px;
    font-size:2em;
    display: flex;
    align-items: center;
    justify-self: left;
    text-shadow: 0 5px 10px rgba(0, 0, 0, 0.384);
    color:var(--light);
}

.about__header::before{
    content:"";
    height: 100%;
    left:-30px;
    width:25px;
    background-color:var(--orange);
    position: absolute;
    border-radius: 5px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.479);
}

.about__header::after{
    content:"";
    height: 100%;
    left:105%;
    width:100vw;
    background-color:var(--orange);
    position: absolute;
    border-radius: 5px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.479);
}

.about__image{
    justify-self: center;
    grid-area: photo;
    border-radius: 50%;
    width:255px;
    height: 255px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.479);
}

.about__text{
    grid-area: text;
    width:100%;
    background: var(--light);
    border-radius: 8px;
    box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.479);
    padding:20px;
}

.about__text__list{
    list-style-type: none;
    margin-bottom: 20px;
}

.about__text__list--item{
    font-size:1.2em;
    line-height: 1.5em;
}

.about__text__list--item span{
    font-weight: 600;
}


.about__text p,.about__text__list{
    position: relative;
}

.about__text p::before,.about__text__list::before{
    content: "";
    position: absolute;
    left:-25px;
    width: 5px;
    height: 100%;
    background-color: var(--orange);
    border-radius: 2px;
}

/* About Mobile End */

/* Skills Mobile Start */
.skills{
    width:100%;
    height: 100vh;
    background: var(--gray);
    padding:20px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    align-items: center;
}

.skills__header{
    grid-area: header;
    position: relative;
    height: 50px;
    font-size:2em;
    display: flex;
    align-items: center;
    justify-self: left;
    text-shadow: 0 5px 10px rgba(0, 0, 0, 0.384);
    color:var(--light);
    align-self: flex-end;
}

 .skills__header::before{
    content:"";
    height: 100%;
    right:105%;
    width:100vw;
    background-color:var(--orange);
    position: absolute;
    border-radius: 5px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.479);
}

.skills__header::after{
    content:"";
    height: 100%;
    left:105%;
    width:100vw;
    background-color:var(--orange);
    position: absolute;
    border-radius: 5px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.479);
}

.skills__block{
    width:100%;
    height: 100%;
    margin-top:20px;
    background: var(--light);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
}
.skills__block__section{
    text-align: center;
    padding: 20px;
    width:100%;
    height: 50%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.skills__block__section--frontend::after{
    content: "";
    position: absolute;
    bottom:0;
    left: 50%;
    transform: translateX(-50%);
    width:90%;
    height: 5px;
    border-radius: 2px;
    background: var(--orange);

}
.skills__block__section__header{
    flex:0 100%;
    height: 50px;
}

.skills__block__section__header code{
    font-family: Consolas;
    font-size:1.2em;
}

.skills__block__section i{
    display: block;
    font-size:4em;
    flex:0 50%;
    max-height: 80px;
}
.fa-js{
    color:#f0db4f;
}
.fa-css3-alt{
   color: #264de4; 
}
.fa-html5{
  color: #e34c26;
}
.fa-react{
    color: #61DBFB;
}
.fa-php{
    color: #8993be;
}
.fa-database{
    color: #00758F;
    position: relative;
}
.fa-database::after{
    content: "MySql";
    font-family: 'Montserrat', sans-serif;
    font-size:0.3em;
    position: absolute;
    bottom:-10px;
    left:50%;
    transform: translateX(-50%);

}


.skills__block__section__header code::before{
    content: "<";
    font-size:1em;
    margin-left: -15px;
}

.skills__block__section__header code::after{
    content: "/>";
    font-size:1em;
}


/* Skills Mobile End */

@media (min-width: 1025px){

    .container{
        margin-bottom: 0;
    }

    /* Navbar Desktop Start*/
    .navbar__item img{
        display:none;
    }
    .home{
        order: -1;
        background-color: transparent;
        justify-content: left;
    }
    .navbar__item--text{
        display: inline;
        width:100%;
        height: 100%;
        display: flex;
        align-items: center;
    }
    .home img{
        display: block;
    }
    .navbar{
        height: 70px;
        top:0;
        left: 0;
        grid-template-columns: 55% repeat(4,1fr);
        grid-gap: 20px;
        padding:10px;
        transform: translateY(-100%);
        animation: DnavIn 0.5s ease-out 1s forwards;
        box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.479);
    }
    .navbar__item:last-child a{
        color:var(--orange);
        font-weight: 600;
    }
    .navbar__item a{
        overflow: hidden;
        position: relative;
    }
    .navbar__item a::before{
        content: '';
        position: absolute;
        width:100%;
        height: 2px;
        background-color: var(--darkgray);
        bottom: 7px;
        transform: translateX(100%);
        transition: all .3s ease-out;
    }

    .home a::before{
        width:0%;
    }
    .navbar__item a:hover::before{
        transform: translateX(0);
    }

    .home::before,.home::after{
        display: none;
    }
    /* Navbar Desktop End */

    /* Header Desktop Start */

    .header img{
        display: none;
    }
    .header__video{
        display: block;
        width:100%;
        max-height: 100vh;
        object-fit: fill;
        filter: blur(5px);
    }

    .header__block{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
        "name links"
        "desc links";
        padding:25px 50px 25px;
        font-size: 23px;
        animation: DheaderBlockIn 0.5s ease-out .5s forwards;
    }

    .header__block::before,.header__block::after{
        content: "";
        position: absolute;
        height: calc(100% - 50px);
        width:5px;
        background-color: var(--orange);
    }
    .header__block::before{
        left:20px;
    }
    .header__block::after{
        right:20px;
    }

    .header__block--name{
        grid-area: name;
        align-self: end;
    }
    .header__block--desc{
        grid-area: desc;
        align-self: start;
    }
    .header__block__icons{
        grid-area: links;
        flex-direction: column;
        align-items: flex-end;
        justify-content: space-evenly;
        width:100%;
        height: 100%;
        margin-top:0;
        font-size: 2em;
        
    }
    .header__block__icons a{
        transition: all 0.3s ease-out;
        position: relative;
    }

    .header__block__icons a::before{
        content: "";
        font-size:1.2rem;
        position: absolute;
        left:-110px;
        top:50%;
        transform: translateY(-50%);
        transition: opacity 0.3s;
        opacity: 0;
    }

    .header__block__icons .fbLink:hover::before{
        content: "Facebook";
        opacity: 1;
    }
    .header__block__icons .gitLink:hover::before{
        content: "Github";
        opacity: 1;
        left: -80px;
    }
    .header__block__icons a:hover{
        transform: translateY(-10px);
    }

    .header__block--arrow{
        position: absolute;
        display: block;
        bottom: 0px;
        width:100vw;
        left: 0px;
        height: 70px;
        text-align: center;
        color:white;
        font-size:3rem;
        text-shadow: 0 5px 10px rgba(0, 0, 0, 0.384);
       
    }
    .header__block--arrow i{
        opacity: 0;
        animation: DarrowFadeIn 1.2s ease-out 1.5s, Darrow 1.2s ease-out 2.7s infinite;
    }

    /* About Desktop Start */

    .about{
        grid-template-rows: 70px 1fr;
        grid-template-columns: 1fr 2fr;
        grid-template-areas: 
        "header header"
        "photo text";
        grid-row-gap: 20px;
        height: 50vh;
        margin-bottom: 0;
    }

    .about__header{
        justify-self: center;
    }

    .about__header::before{
        width:50vw;
        left:calc(-50vw - 10px);
    }

    .about__header::after{
        left: calc(100% + 10px);
    }

    .about__image{
        align-self: center;
        justify-self: center;
        border-radius:10px;
        animation: floatImage 2s infinite ease-in-out;
    }

    


    .about__text{
        min-height: 50%;
        align-self: center;
        display: flex;
        width:90%;
        border-radius:10px;
    }

    .about__text__list{
        width:50%;
        align-self: center;
    }

    .about__text p{
        width:50%;
        display: flex;
        align-items: center;
        margin-left:25px;
    }
    .about__text__list::before{
        content: none;
    }



    /* About Desktop End */

}

/* Animations Mobile*/


@keyframes McontainerFadeIn{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

@keyframes MheaderNameIn{
    0%{
        opacity: 0;
        transform: translateY(-20px);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes MheaderDescIn{
    0%{
        opacity: 0;
        transform: translateY(20px);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes MnavIn{
    0%{
        transform: translateY(100%);
    }
    100%{
        transform: translateY(0);
    }
}

@keyframes MheaderBlockIn{
    0%{
        transform: translateY(-50%) scaleY(0);
    }
    100%{
        transform: translateY(-50%) scaleY(1);
    }
}

/* Animations Desktop */

@keyframes DnavIn{
    0%{
        transform: translateY(-100%);
    }
    100%{
        transform: translateY(0);
    }
}

@keyframes DheaderBlockIn{
    0%{
        transform: translateY(-50%) scaleX(0);
    }
    100%{
        transform: translateY(-50%) scaleX(1);
    }
}

@keyframes DarrowFadeIn{
    0%{
        opacity: 0;
        transform: translate(0,-30px);
    }
    50%{
        opacity: 1;
        transform: translate(0,20px);
    }
    100%{
        opacity: 1;
        transform: translate(0,-30px);
    }
   
}

@keyframes Darrow{
    0%,100%{
        opacity: 1;
        transform: translate(0,-30px);
    }
    50%{
        opacity: 1;
        transform: translate(0,20px);
    }
}

@keyframes floatImage{
    0%,100%{
        box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.479);
        transform: translateY(0px);
    }
    50%{
        transform: translateY(-30px);
        box-shadow: 0px 35px 25px 5px rgba(0, 0, 0, 0.479);
    }
}