:root{
    --darkgray: #252422;
    --light: #ece5d7;
    --gray: #403d39;
    --orange: #eb5e28;
}

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
    /* color:var(--light); */
}
body{
    background: black;
    /* overflow-y: scroll; */
}
a{
    text-decoration: none;
}

.container{
    width: 100%;
    min-height: 100vh;
    background-color: var(--darkgray);
    animation: containerFadeIn 1.5s ease-out;
    margin-bottom: 6vh;
}

/* Navbar Mobile start */
.navbar{
    z-index: 3;
    position: fixed;
    bottom:0;
    left:0;
    width:100%;
    height: 6vh;
    background-color: var(--gray);
    display: grid;
    grid-template-columns: 1fr 1fr 1.5fr 1fr 1fr;
    animation: MnavIn 0.5s ease-out 1s forwards;
    transform: translateY(100%);
    box-shadow: 0px -5px 10px rgba(0, 0, 0, 0.479);
}

.navbar__item--text{
    display:none;
}
.navbar__item{
    display: flex;
    align-items: center;
    justify-content: center;
}

.home{
    background-color: var(--darkgray);
    border-radius: 5px;
}

.navbar a{
    text-align: center;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color:var(--light);
    font-size: 1.2em;
}
.navbar__item img{
    width:30%;
}

/* Navbar Mobile End */



/* Header Mobile Start */

.header{
    width:100%;
    height: 100vh;
    background: var(--dark);
    overflow: hidden;
    position: relative;
}
.header__video{
    display: none;
}

.header img{
    position: absolute;
    left:-50%;
    height: 100vh;
    filter: blur(5px);
    
}

.header__block{
    width:100%;
    height: 30vh;
    background: #ccc5b938;
    position: absolute;
    top:50%;
    transform: translateY(-50%) scaleY(0);
    padding:20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    animation: MheaderBlockIn 0.5s ease-out .5s forwards;
    transform-origin: center center;
    font-size:3vw;
}

.header__block--name{
    font-size:3.5em;
    color:var(--light);
    text-shadow: 0 5px 10px rgba(0, 0, 0, 0.384);
    opacity: 0;
    animation: MheaderNameIn 0.5s ease-out 1s forwards;
}

.header__block--desc{
    font-family: Consolas;
    color:var(--light);
    font-size: 1.2em;
    text-shadow: 0 5px 10px rgba(0, 0, 0, 0.384);
    animation: MheaderDescIn 0.5s ease-out 1s forwards;
    opacity: 0;
}

.header__block--desc::before{
    content: "<";
    font-size:1.5em;
    margin-right: -5px;
}
.header__block--desc::after{
    content: "/>";
    font-size:1.5em;
}

.header__block__icons{
    margin-top:20px;
    font-size:3em;
    animation: MheaderDescIn 0.5s ease-out 1s forwards;
    opacity: 0;
    width:70%;
    display: flex;
    justify-content: space-around;
}

.header__block__icons a{
    color:var(--light);
    text-shadow: 0 5px 10px rgba(0, 0, 0, 0.384);
}

.header__block--arrow{
    display: none;
    z-index: 2;
}

/* Header Mobile End */

/* Mobile Scroll Anchors */

.about .about__scrollAnchor,
.skills .skills__scrollAnchor,
.portfolio .portfolio__scrollAnchor,
.contact .contact__scrollAnchor{
    position: absolute;
    top:0px;
    right: 0;
    width:100%;
    height: 70px;
}

/* About Mobile Start */

.about{
    position: relative;
    width:100%;
    background: var(--gray);
    display:grid;
    grid-template-rows: 50px 1fr 2fr;
    grid-template-areas: 
    "header"
    "photo"
    "text";
    align-items: center;
    padding:20px;
    overflow: hidden;
    font-size: 3vw;
    color:var(--light);
}


.about__header{
    grid-area: header;
    position: relative;
    height: 50px;
    font-size:2em;
    display: flex;
    align-items: center;
    justify-self: left;
    text-shadow: 0 5px 10px rgba(0, 0, 0, 0.384);
    color:var(--light);
}

.about__header::before{
    content:"";
    height: 3vw;
    left:-30px;
    width:25px;
    background-color:var(--orange);
    position: absolute;
    border-radius: 5px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.479);
}

.about__header::after{
    content:"";
    height: 3vw;
    left:105%;
    width:100vw;
    background-color:var(--orange);
    position: absolute;
    border-radius: 5px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.479);
}

.about__image{
    justify-self: center;
    grid-area: photo;
    border-radius: 50%;
    width:50vw;
    height: 50vw;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.479);
}

.about__text{
    grid-area: text;
    width:100%;
    background: var(--darkgray);
    border-radius: 8px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.479);
    padding:20px;
}

.about__text__list{
    list-style-type: none;
    margin-bottom: 20px;
}

.about__text__list--item{
    font-size:1.4em;
    line-height: 1.5em;
}

.about__text__list--item span{
    font-weight: 600;
}


.about__text p,.about__text__list{
    position: relative;
}

.about__text p{
    font-size:1.4em;
}

.about__text p::before,.about__text__list::before{
    content: "";
    position: absolute;
    left:-25px;
    width: 5px;
    height: 100%;
    background-color: var(--orange);
    border-radius: 2px;
}

/* About Mobile End */

/* Skills Mobile Start */
.skills{
    position: relative;
    width:100%;
    max-height: 100vh;
    background: var(--gray);
    padding:20px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    align-items: center;
    font-size:4vw;
    padding-bottom: 40px;
}

.skills__header{
    position: relative;
    height: 50px;
    font-size:1.5em;
    display: flex;
    align-items: center;
    justify-self: left;
    text-shadow: 0 5px 10px rgba(0, 0, 0, 0.384);
    align-self: flex-end;
    color:var(--light);
}

 .skills__header::before{
    content:"";
    height: 3vw;
    right:105%;
    width:100vw;
    background-color:var(--orange);
    position: absolute;
    border-radius: 5px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.479);
}

.skills__header::after{
    content:"";
    height: 3vw;
    left:105%;
    width:100vw;
    background-color:var(--orange);
    position: absolute;
    border-radius: 5px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.479);
}

.skills__block{
    width:100%;
    height: 100%;
    margin-top:20px;
    background: var(--darkgray);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.479);
}
.skills__block__section{
    text-align: center;
    padding: 20px;
    width:100%;
    height: 50%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.skills__block__section--frontend::after{
    content: "";
    position: absolute;
    bottom:0;
    left: 50%;
    transform: translateX(-50%);
    width:90%;
    height: 5px;
    border-radius: 2px;
    background: var(--orange);

}
.skills__block__section__header{
    flex:0 100%;
    height: 50px;
    color:var(--light);
}

.skills__block__section__header code{
    font-family: Consolas;
    font-size:1.2em;
}

.skills__block__section i{
    display: block;
    font-size:4em;
    flex:0 50%;
    margin-bottom:20px;
    /* height: 100px; */
}
.fa-js{
    color:#f0db4f;
}
.fa-css3-alt{
   color: #264de4; 
}
.fa-html5{
  color: #e34c26;
}
.fa-react{
    color: #61DBFB;
}
.fa-php{
    color: #8993be;
}
.fa-database{
    color: #00758F;
    position: relative;
}

.fa-node{
    color: #6cc24a;
}
/* .fa-database::after{
    content: "MySql";
    font-family: 'Montserrat', sans-serif;
    font-size:0.3em;
    position: absolute;
    bottom:1vh;
    left:50%;
    transform: translateX(-50%);

} */


.skills__block__section__header code::before{
    content: "<";
    font-size:1em;
    margin-left: -15px;
}

.skills__block__section__header code::after{
    content: "/>";
    font-size:1em;
}


/* Skills Mobile End */


/* Portfolio Mobile Start */
.portfolio{
    position: relative; 
    width:100%;
    background: var(--gray);
    padding:20px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    align-items: center;
    font-size:4vw;
    padding-bottom: 40px;
}

.portfolio__header{
    position: relative;
    height: 50px;
    font-size:1.5em;
    display: flex;
    align-items: center;
    justify-self: left;
    text-shadow: 0 5px 10px rgba(0, 0, 0, 0.384);
    align-self: flex-start;
    color:var(--light);
}

.portfolio__header::before{
    content:"";
    height: 3vw;
    right:105%;
    width:100vw;
    background-color:var(--orange);
    position: absolute;
    border-radius: 5px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.479);
}

.portfolio__header::after{
    content:"";
    height: 3vw;
    left:105%;
    width:100vw;
    background-color:var(--orange);
    position: absolute;
    border-radius: 5px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.479);
}

.portfolio__block{
    width:100%;
    height: 100%;
    margin-top:20px;
    background: var(--darkgray);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.479);
    padding: 20px;
}

.portfolio__block__project{
    margin-top:20px;
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--light);
}

.portfolio__block__project img{
    width:100%;
}

.portfolio__block__project__img{
    position: relative;
    margin:20px 0;
}

.portfolio__block__project__img::before{
    content: '';
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height: 100%;
    background: linear-gradient(to top, #eb5f2867 , transparent);
}

.fa-eye{
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    left: 20%;
    color: var(--light);
    font-size:2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-shadow: 0 5px 10px rgba(0, 0, 0, 0.384); 
}

.fa-eye::after{
    content: 'Live';
    font-family: 'Montserrat', sans-serif;
    position: absolute;
    bottom:-20px;
    font-size:0.5em;
    font-weight: 400;
    text-shadow: 0 5px 10px rgba(0, 0, 0, 0.384);
}

.portfolio__block__project__img .fa-github{
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    right: 20%;
    color: var(--light);
    font-size:2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-shadow: 0 5px 10px rgba(0, 0, 0, 0.384); 
}
.portfolio__block__project__img .fa-github::after{
    content: 'Github';
    font-family: 'Montserrat', sans-serif;
    position: absolute;
    bottom:-20px;
    font-size:0.5em;
    text-shadow: 0 5px 10px rgba(0, 0, 0, 0.384);
}

.portfolio__block__project__img__desktop{
    display: none;
}

/* Portfolio Mobile End */

/* Contact Mobile Start */
.contact{
    width:100%;
    background: var(--gray);
    padding:20px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    align-items: center;
    font-size:4vw;
    padding-bottom: 40px;
    position: relative;
}

.contact__header{
    position: relative;
    height: 50px;
    font-size:1.5em;
    display: flex;
    align-items: center;
    justify-self: left;
    text-shadow: 0 5px 10px rgba(0, 0, 0, 0.384);
    align-self: flex-end;
    color:var(--light);
}

.contact__header::before{
    content:"";
    height: 3vw;
    right:105%;
    width:100vw;
    background-color:var(--orange);
    position: absolute;
    border-radius: 5px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.479);
}

.contact__header::after{
    content:"";
    height: 3vw;
    left:105%;
    width:100vw;
    background-color:var(--orange);
    position: absolute;
    border-radius: 5px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.479);
}

.contact__block{
    width:100%;
    height: 100%;
    margin-top:20px;
    background: var(--darkgray);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.479);
    padding: 20px;
}

.contact__block__form{
    width:80%;
    display: grid;
    grid-template-rows: 1fr 1fr 2fr 1fr;
    grid-template-areas: 
    "mail"
    "title"
    "content"
    "submit";
    height: 50vh;
}

.contact__block__form__input{
    height: 50%;
    width:100%;
    background: transparent;
    border: none;
    border-bottom: 2px solid var(--light);
    color: var(--light);
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size:1em;
    position: absolute;
    top:50%;
    left:0;
    transform: translateY(-50%);
    outline: none;
    transition: all 0.3s ease-in-out;
}

textarea.contact__block__form__input{
    resize: none;
    height: 50%;
}

.contact__block__form__input[type="submit"]{
    border:2px solid var(--light);
    position: static;
    top: unset;
    left: unset;
    transform: translateY(0);
    width:40%;
    height: 60%;
    border-radius:10px;
}
.inputMail{
    grid-area: mail;
}
.inputTitle{
    grid-area: title;
}
.inputSubmit{
    grid-area: submit;
}
.inputContent{
    grid-area: content;
}

.inputWrapper{
    width:100%;
    position: relative;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.contact__block__form__span{
    color: var(--light);
    position: absolute;
    top:50%;
    left:0px;
    transform: translateY(-50%);
    pointer-events: none;
    transition: all 0.3s ease-in-out;
    background: var(--darkgray);
}
textarea + .contact__block__form__span{
    top:30%;
}

.contact__block__form__input:focus  {
    border-bottom: 2px solid var(--orange);
}

.contact__block__form__input:focus ~ .contact__block__form__span,
.contact__block__form__input:not(:focus):valid ~ .contact__block__form__span { 
    top:0px;
    font-size:0.8em;
    transform: translateY(0);
    color:var(--orange);
}
textarea.contact__block__form__input:focus ~ .contact__block__form__span,
textarea.contact__block__form__input:not(:focus):valid ~ .contact__block__form__span { 
    top:10px;
    transform: translateY(0);
    font-size:0.8em;
    color:var(--orange);
}

/* Contact Mobile End */

/* Footer Mobile Start */
.footer{
    width:100%;
    height: 70px;
    background: var(--orange);
    text-align: center;
    color:var(--light);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.footer > p > a{
    color:var(--light);
    font-weight: 800;
}
/* Footer Mobile End */

@media (min-width: 1024px){
    .container{
        margin-bottom: 0;
    }

    /* Navbar Desktop Start*/
    .navbar__item img{
        display:none;
    }
    .home{
        order: -1;
        background-color: transparent;
        justify-content: left;
    }
    .navbar__item--text{
        display: inline;
        width:100%;
        height: 100%;
        display: flex;
        align-items: center;
    }
    .home img{
        display: block;
    }
    .navbar{
        height: 70px;
        top:0;
        left: 0;
        grid-template-columns: 55% repeat(4,1fr);
        grid-gap: 20px;
        padding:10px;
        transform: translateY(-100%);
        animation: DnavIn 0.5s ease-out 1s forwards;
        box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.479);
    }
    .navbar__item:last-child a{
        color:var(--orange);
        font-weight: 600;
    }
    .navbar__item a{
        overflow: hidden;
        position: relative;
    }
    .navbar__item a::before{
        content: '';
        position: absolute;
        width:100%;
        height: 2px;
        background-color: var(--darkgray);
        bottom: 7px;
        transform: translateX(100%);
        transition: all .3s ease-out;
    }

    .home a::before{
        width:0%;
    }
    .navbar__item a:hover::before{
        transform: translateX(0);
    }

    .home::before,.home::after{
        display: none;
    }
    /* Navbar Desktop End */

    /* Header Desktop Start */

    .header img{
        display: none;
    }
    .header__video{
        display: block;
        width:100%;
        height: 100vh;
        object-fit: fill;
        filter: blur(5px);
    }

    .header__block{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
        "name links"
        "desc links";
        padding:25px 50px 25px;
        font-size: 23px;
        animation: DheaderBlockIn 0.5s ease-out .5s forwards;
    }

    .header__block::before,.header__block::after{
        content: "";
        position: absolute;
        height: calc(100% - 50px);
        width:5px;
        background-color: var(--orange);
    }
    .header__block::before{
        left:20px;
    }
    .header__block::after{
        right:20px;
    }

    .header__block--name{
        grid-area: name;
        align-self: end;
    }
    .header__block--desc{
        grid-area: desc;
        align-self: start;
    }
    .header__block__icons{
        grid-area: links;
        flex-direction: column;
        align-items: flex-end;
        justify-content: space-evenly;
        width:100%;
        height: 100%;
        margin-top:0;
        font-size: 2em;
        
    }
    .header__block__icons a{
        transition: all 0.3s ease-out;
        position: relative;
    }

    .header__block__icons a::before{
        content: "";
        font-size:1.2rem;
        position: absolute;
        left:-110px;
        top:50%;
        transform: translateY(-50%);
        transition: opacity 0.3s;
        opacity: 0;
    }

    .header__block__icons .fbLink:hover::before{
        content: "Facebook";
        opacity: 1;
    }
    .header__block__icons .gitLink:hover::before{
        content: "Github";
        opacity: 1;
        left: -80px;
    }
    .header__block__icons a:hover{
        transform: translateY(-10px);
    }

    .header__block--arrow{
        position: absolute;
        display: block;
        bottom: 0px;
        width:100vw;
        left: 0px;
        height: 70px;
        text-align: center;
        color:white;
        font-size:3rem;
        text-shadow: 0 5px 10px rgba(0, 0, 0, 0.384);
       
    }
    .header__block--arrow i{
        opacity: 0;
        animation: DarrowFadeIn 1.2s ease-out 1.5s, Darrow 1.2s ease-out 2.7s infinite;
    }

    /* About Desktop Start */

    .about{
        position: relative;
        grid-template-rows: 70px 1fr;
        grid-template-columns: 1fr 2fr;
        grid-template-areas: 
        "header header"
        "photo text";
        grid-row-gap: 20px;
        max-height: 100vh;
        margin-bottom: 0;
        font-size:16px;
        padding: 0px 20px 50px 20px;
    }

    /* Desktop Scroll Anchors */


    .about .about__scrollAnchor,
    .skills .skills__scrollAnchor,
    .portfolio .portfolio__scrollAnchor{
        position: absolute;
        top:-70px;
        right: 0;
        width:100%;
        height: 70px;
    }

    .about__header{
        justify-self: center;
    }

    .about__header::before{
        width:50vw;
        left:calc(-50vw - 10px);
    }

    .about__header::after{
        left: calc(100% + 10px);
    }

    .about__image{
        align-self: center;
        justify-self: center;
        border-radius:10px;
        animation: floatImage 2s infinite ease-in-out;
        width: 20vw;
        height: 20vw;
    }

    


    .about__text{
        min-height: 50%;
        align-self: center;
        display: flex;
        width:90%;
        border-radius:10px;
        font-size:12px;
    }

    .about__text__list{
        width:50%;
        align-self: center;
    }

    .about__text p{
        width:50%;
        display: flex;
        align-items: center;
        margin-left:25px;
    }
    .about__text__list::before{
        content: none;
    }



    /* About Desktop End */


    /* Skills Desktop Start */

    .skills{
        max-height:50vh;
        font-size:16px;
        padding: 0px 20px 50px 20px;
    }

    .skills__block{
        flex-direction: row;
    }

    .skills__header{
        align-self: center;
        font-size:2em;
    }

    .skills__block__section{
        align-items: center;
        height: 100%;
    }
    .skills__block__section__header{
        align-self: flex-start;
    }



    .skills__block__section--frontend::after{
        right:0;
        top:50%;
        left:100%;
        height: 70%;
        width:5px;
        transform: translate(0,-50%);
    }

    .fab,.fas{
        position: relative;
        transition: all 0.5s;
    }

    .skills__block__section i::after{
        content: "HTML";
        font-family: 'Montserrat', sans-serif;
        position: absolute;
        font-size: 0.3em;
        font-weight: 800;
        bottom:-20px;
        left:50%;
        transform: translateX(-50%);
        opacity: 0;
    }
    .skills__block__section .fa-css3-alt::after{
        content: "CSS";
    }

    .skills__block__section .fa-js::after{
        content: "JavaScript";
    }

    .skills__block__section .fa-react::after{
        content: "React";
    }

    .skills__block__section .fa-php::after{
        content: "PHP";
    }

    .skills__block__section .fa-database::after{
        content: "MySQL";
    }

    .skills__block__section .fa-node::after{
        content: "NodeJS";
    }

    .skills__block__section i{
        flex: 1;
    }

    .skills__block__section i:hover{
        transform: translateY(-20px);
    }

    .skills__block__section i:hover::after{
        animation: McontainerFadeIn 0.3s ease-in 0.3s forwards;
    }


    /* Skills Desktop End */

    /* Portfolio Desktop Start */

    .portfolio{
        font-size:16px;
    }

    .portfolio__header{
        font-size:2em;
        align-self: center;
    }

    .portfolio__block{
        flex-direction: row;
    }

    .portfolio__block__project{
        margin:0;
    }

    .portfolio__block__project__img img{
        height: 210px;
    }

    .portfolio__block__project__img > a{
        display: none;
    }

    .portfolio__block__project__img{
        overflow: hidden;
    }

    .portfolio__block__project__img::before{
        transition: all 0.3s ease-in-out;
        transform: translateY(100%);
    }

    .portfolio__block__project__img:hover::before{
        transform: translateY(0);
    }

    .portfolio__block__project__img__desktop{
        display: block;
        position: absolute;
        top:0;
        left:0;
        width:100%;
        height: 100%;
        transform: translateY(100%);
        transition: all 0.3s ease-in-out;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .portfolio__block__project__img__desktop > a{
        height: 100%;
        width:20%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .portfolio__block__project__img .fa-github,
    .portfolio__block__project__img .fa-eye{
        top: unset;
        right: unset;
        left: unset;
        position: relative;
    }
   

    .portfolio__block__project__img:hover .portfolio__block__project__img__desktop{
        transform: translateY(0);
    }

    /* Portfolio Desktop End */

    /* Contact Desktop Start */
    .contact{
        font-size:16px;
    }

    .contact__header{
        font-size:2em;
        align-self: center;
    }
    .contact__block{
        width:70%;
    }
    .contact__block__form{
        grid-template-rows: 1fr 2fr 1fr;
        grid-template-areas: 
        "mail title"
        "content content"
        "submit submit";
    }
    .inputWrapper{
        position: relative;
    }
    .inputWrapper::before{
        content: "";
        position: absolute;
        height: 70%;
        width:4px;
        background: var(--orange);
        left:-20px;
        top:50%;
        transform: translateY(-50%);
    }
    .inputWrapper input{
        width:70%;
    }
    .contact__block__form__input[type="submit"]{
        cursor: pointer;
        transition: all .3s ease-in-out;
        color:var(--darkgray);
        position: relative;
        overflow: hidden;
    }
    .inputSubmit::before{
        display: none;
    }
    .contact__block__form__input[type="submit"]::before,
    .contact__block__form__input[type="submit"]::after{
        content: "Prześlij";
        top:0;
        display: flex;
        justify-content: center;
        align-items: center;
        left:0;
        position: absolute;
        color:var(--light);
        width:100%;
        height: 100%;
        transition: all 0.3s ease-in-out;
    }
    .contact__block__form__input[type="submit"]::after{
        font-family: "Font Awesome 5 Free";
        content: "\f1d8";
        top:100%;
        background: var(--light);
        color:var(--darkgray);
    }

    .contact__block__form__input[type="submit"]:hover::after,
    .contact__block__form__input[type="submit"]:hover::before{
        transform: translateY(-100%);
    }

    .contact__block__form__input:focus ~ .contact__block__form__span,
    .contact__block__form__input:not(:focus):valid ~ .contact__block__form__span { 
    top:0px;
    font-size:0.8em;
    transform: translateY(10px);
    color:var(--orange);
    }
    /* Contact Desktop End */

}

/* Animations Mobile*/


@keyframes McontainerFadeIn{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

@keyframes MheaderNameIn{
    0%{
        opacity: 0;
        transform: translateY(-20px);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes MheaderDescIn{
    0%{
        opacity: 0;
        transform: translateY(20px);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes MnavIn{
    0%{
        transform: translateY(100%);
    }
    100%{
        transform: translateY(0);
    }
}

@keyframes MheaderBlockIn{
    0%{
        transform: translateY(-50%) scaleY(0);
    }
    100%{
        transform: translateY(-50%) scaleY(1);
    }
}

/* Animations Desktop */

@keyframes DnavIn{
    0%{
        transform: translateY(-100%);
    }
    100%{
        transform: translateY(0);
    }
}

@keyframes DheaderBlockIn{
    0%{
        transform: translateY(-50%) scaleX(0);
    }
    100%{
        transform: translateY(-50%) scaleX(1);
    }
}

@keyframes DarrowFadeIn{
    0%{
        opacity: 0;
        transform: translate(0,-30px);
    }
    50%{
        opacity: 1;
        transform: translate(0,20px);
    }
    100%{
        opacity: 1;
        transform: translate(0,-30px);
    }
   
}

@keyframes Darrow{
    0%,100%{
        opacity: 1;
        transform: translate(0,-30px);
    }
    50%{
        opacity: 1;
        transform: translate(0,20px);
    }
}

@keyframes floatImage{
    0%,100%{
        box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.479);
        transform: translateY(0px);
    }
    50%{
        transform: translateY(-10px);
        box-shadow: 0px 35px 25px 5px rgba(0, 0, 0, 0.479);
    }
}
